body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #434455;
}
a {
  text-decoration: none;
  display: block;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h3 {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  line-height: 1.11;
  color: #2e2f42;
  margin: 0;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 216px;
}
::placeholder {
  color: #8e8f99;
  opacity: 0.5;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
.section {
  padding: 96px 0;
}
/* --- Header ---*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo {
  margin: 16px 149px 16px 16px;
}

.header-container {
  display: flex;
  padding: 0;
}
.header-menu-list {
  display: none;
}

.header-adress-list {
  display: none;
}

.header-accent {
  color: #2e2f42;
}

/* mobile */
.mobile-open-menu {
  border: none;
  background-color: #fff;
  padding: 0;
}
.mobile-menu-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.mobile-menu-overlay {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  padding: 72px 24px 0 16px;
  background-color: #fff;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-direction: column;
}
.mobile-close-menu {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  display: flex;
  border: 1px solid #0000001a;
  background-color: #ffffff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}
.mobile-nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current-page {
  position: relative;
  color: #404bbf;
}
.mobile-nav-link:focus,
.mobile-nav-link:hover {
  color: #4d5ae5;
}
.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.mobile-address-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-address-link:focus,
.mobile-address-link:hover {
  color: #4d5ae5;
}
.mobile-soc-list {
  display: flex;
  gap: 40px;
}
.mobile-soc-link {
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 8px;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-soc-link:hover,
.mobile-soc-link:focus {
  background-color: #31d0aa;
}

/* --main --*/
.main {
  flex-grow: 1;
}
.main-page-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
}
.main-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/company-phone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 72px 0;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/company-phone-2x.jpg);
  }
}
.main-btn:focus,
.main-btn:hover {
  background-color: #404bbf;
}
.main-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-container {
  text-align: center;
}
.main-section {
  background-color: #2e2f42;
}
/* About */
.main-about-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
}
.main-about-icons {
  display: none;
}

.main-about-name {
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.main-about-text {
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Team */
.team-section {
  background-color: #f4f4fd;
  text-align: center;
}
.main-team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 72px;
}
/* .main-team-item:not(:last-child) {
  margin-right: 24px;
} */

.team-text {
  padding: 32px 0;
  text-align: center;
}
.main-team-name {
  margin-bottom: 8px;
}
.main-team-text {
  margin-bottom: 8px;
}

.main-team-title {
  margin-bottom: 72px;
}
.main-team-links {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.main-team-link {
  background-color: #4d5ae5;
  fill: #f4f4fd;
  border-radius: 50%;
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-team-link:hover,
.main-team-link:focus {
  background-color: #404bbf;
}

.main-about-title,
.main-portfolio-title {
  text-align: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* Portfolio */
.portfolio-text:hover,
.main-portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.main-portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-portfolio-item:hover .overlay-text {
  transform: translateY(0);
}

.main-portfolio-title {
  margin-bottom: 72px;
}

.main-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.box {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-text {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.main-portfolio-name {
  margin-bottom: 8px;
}

.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
/* Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-media-list .footer-icon-links {
  display: flex;
  gap: 16px;
}
.footer-links-item {
  width: 40px;
  height: 40px;
}
.footer-link-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
  fill: #f4f4fd;
}
.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: #31d0aa;
}
.footer-accent {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  color: #f4f4fd;
}
.footer-logo {
  margin-bottom: 16px;
  text-align: center;
}

.footer-block {
  /* margin-right: 120px; */
  margin-bottom: 72px;
}
.footer-media-list {
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 264px;
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  cursor: pointer;
  border: none;
}
.footer-form-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}
.footer-form {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer-form-input {
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
}
.footer-form-icon {
  margin-left: 16px;
  fill: #fff;
}
/* ьщвфд */
.modal-overlay {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-overlay.is-open {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 999;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  display: flex;
  border: 1px solid #0000001a;
  border-radius: 50%;
  background-color: #e7e9fc;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover > .modal-icon-close,
.modal-btn:focus > .modal-icon-close {
  fill: #ffffff;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
}
.modal-form {
  margin-bottom: 8px;
}
.modal-field {
  width: 100%;
  height: 58px;
  background-color: transparent;
  border-radius: 4px;
  position: relative;
  outline: transparent;
  margin-bottom: 8px;
}
.modal-input-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  color: #8e8f99;
  font-weight: 400;
  resize: none;
  font-family: "Roboto", sans-serif;
}
.modal-input:focus,
.modal-text:focus,
.modal-text-comment:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-field-comment {
  width: 100%;
  height: 138px;
  background-color: transparent;
  border-radius: 4px;
  position: relative;
  outline: transparent;
  margin-bottom: 16px;
}
.modal-text-comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-check {
  margin-bottom: 24px;
}
.check-text {
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.check-text-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.modal-btn-send {
  display: block;
  margin-top: 24px;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  justify-content: center;
  padding: 16px 32px;
  align-items: center;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .check-text > .checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-check:focus + .check-text > .checkbox {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header-logo {
    margin: 24px 120px 24px 16px;
  }
  .header-menu-list {
    display: flex;
    gap: 40px;
  }
  .header-menu-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 24px;
    padding-top: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #404bbf;
  }
  .current-page {
    position: relative;
    color: #404bbf;
  }
  .current-page::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    bottom: -1px;
    left: 0;
  }
  .header-adress {
    font-style: normal;
    margin-left: auto;
  }

  .header-adress-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-direction: column;
    padding: 16px;
  }
  .header-adress-link {
    color: #434455;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-adress-link:focus,
  .header-adress-link:hover {
    color: #404bbf;
  }

  .mobile-open-menu {
    display: none;
  }
  .mobile-menu-overlay.is-open,
  .mobile-menu-overlay {
    display: none;
  }
  .main-section {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/company-table.jpg);
  }
  @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .main-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/company-table-2x.jpg);
    }
  }
  .main-page-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.1;
    margin-bottom: 36px;
  }
  .main-about-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .main-about-item {
    width: calc((100% - 24px) / 2);
  }
  .main-about-name {
    text-align: start;
  }
  .main-about-text {
    margin-bottom: 0;
  }
  .main-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .main-portfolio-list {
    gap: 72px 24px;
  }
  .main-portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    margin-left: 108px;
  }
  .footer-block {
    margin-right: 24px;
    max-width: 264px;
  }
  .footer-logo {
    text-align: start;
  }
  .footer-media-list {
    margin-bottom: 0;
    justify-content: start;
    align-items: start;
  }
  .footer-form-text {
    text-align: start;
  }
  .footer-form {
    justify-content: start;
  }
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
  .check-text {
    line-height: 1.17;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }
  .check-text-link {
    display: inline;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .section {
    padding: 120px;
  }
  .header-logo {
    margin-right: 76px;
  }
  .header-adress-list {
    gap: 40px;
    flex-direction: row;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .header-adress-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/company.jpg);
    padding: 188px 0;
  }
  @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .main-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/company-2x.jpg);
    }
  }
  .main-page-title {
    margin-bottom: 48px;
  }
  .main-about-list {
    flex-wrap: nowrap;
  }
  .main-about-item {
    width: calc((100% - 72px) / 4);
  }
  .main-about-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 24px 100px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    height: 112px;
  }
  .main-about-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .main-about-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .main-team-list {
    flex-wrap: nowrap;
  }
  .main-about-item {
    width: calc((100% - 72px) / 3);
  }
  .main-portfolio-list {
    gap: 48px 24px;
  }
  .main-portfolio-item {
    width: calc((100% - 48px) / 3);
  }
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-block {
    margin-bottom: 0;
    margin-right: 120px;
  }
  .footer-media-list {
    margin-right: 80px;
  }
}
